body {
    padding: 30px;
    background:linear-gradient(150deg,pink green);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.okvir {
    max-width: 900px;
    background-color: beige;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 14px 20px rgba(0, 0, 0, 1);
}
h1 {
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 30px;
}
.podnaslov {
    text-align: center;
    font-size: 15px;
    line-height: 2;
    color: rgb(50, 7, 222);
}
.blok1 {
   font-size: 15px;
   background-color: ivory;
   border-radius: 20px;
   border: 1px solid #746f6f;
   padding: 10px;
   margin-bottom: 20px;
}
.blok2{
     font-size: 15px;
   background:linear-gradient(90deg, #7908ea,#1089fb);
   border-radius: 20px;
   border: 1px solid #746f6f;
   padding: 10px;
   margin-bottom: 20px;
}
.blok3 {
    font-size: 15px;
   background-image: url(pozadina.jpg);
   background-size: center;
   background-position: center;
   border-radius: 20px;
   border: 1px solid #746f6f;
   padding: 10px;
   margin-bottom: 20px;
}
.tekst{
    background: rgba(255, 255, 0, 1);
    border-radius: 15px;
    padding: 10px;
}
.naglasak{
    color: red;
    text-decoration: solid;
}