body {
    margin: 0;
    padding: 40px;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #394448, #2e5866, #0d4760);
    color: white;
}

.container {
    max-width: 1000px;
    margin: auto;
    background-color: #050557;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.6);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    background: linear-gradient(90deg,#2b1860,#1207b1);
}

th {
    background-color: #3a3f58;
    padding: 15px;
    border: 2px solid rgb(175, 25, 25);
}

td {
    padding: 12px;
    border: 2px solid rgb(175, 25, 25);
}

tr:nth-child(even) {
    background-color: #212151;
}

tr:hover {
    background-color: #3b3b61;
    transform: scale(1.01);
    transition: 0.3s;
}

.preporuceno {
    background-color: #289328 !important;
    font-weight: bold;
}

.cijena {
    text-align: right;
    font-weight: bold;
    color: #06c7a1;
}