body{
    padding: 32px;
    background:linear-gradient(#c9f7e1, #e8fff4);
    font-family: monospace;
    margin: 0;
}

.glavni-okvir{
    max-width: 900px;
    background-color: rgb(236, 241, 241);
    border-radius: 22px;
    padding: 34px;
    box-shadow: 14px 20px rgba(0,0,0,0.10);
    border: thin;
    box-shadow: 15px;
    margin: auto;
}

h1{
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 34px;
    margin-bottom: 10px;    
    color: #1e6b4f;
}

.podnaslov{
    text-align: center;
    font-size: 15px;
    color: darkblue;
    margin-bottom: 30px;
    line-height: 1.7;
    color: #2e5f4b;
}

.blok{
    border-radius: 20px;
    border: 1px solid thin #d7daff;
    padding: 20px;
    margin-bottom: 18px;
    margin-top: 18px;
}

h2{
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1.6;
    color: #145c43;
}
p{
    margin: 0;
    line-height: 1.75;
    color: rgb(7, 50, 3);
}

.jednobojno{
    background-color: rgb(175, 250, 188);
}

.gradijent{
    background:linear-gradient(90deg, #7ee0b2, #c8ffe8);
}

.slika{
    background-image:url("slika.jpg");
    background-size: cover;
    background-position: center;
}

.overlay{
    background: rgba(255,255,255,0.70);
    border-radius: 16px;
    padding: 18px;
    border: thin;
}

.naglasak{
    font-weight: 700;
    color: #0b7a55;
    background-color: rgba(11,122,85,0.14);
    padding: 6px;
    border-radius: 8px;
}