body{
    padding: 32px;
    background:linear-gradient(90deg,#12023d, #855ce4);
    font-family: monospace;
    margin: 0;
    color: rgb(255, 255, 255);
}

.glavni-okvir{
    max-width: 900px;
    background-color: rgb(162, 133, 228);
    border-radius: 22px;
    padding: 34px;
    border: thin;
    box-shadow: 0 67px 25px rgba(0, 0, 0, 0.2);
    margin: auto;
}

h1{
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 34px;
    margin-bottom: 10px;    
    color: #100349;
}

.naslov{ max-width: 900px;
    background:linear-gradient(90deg,#0f4aeb,#0861856b);
    border-radius: 22px;
    padding: 24px;
    border: thin;
    box-shadow: 0 67px 25px rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-bottom: 15px;
    max-width: 400px;
}
table {
    border: solid rgb(58, 9, 9) 3px;
    background:linear-gradient(90deg, #03767a, #1f7cb99d);
    border-radius: 6.7px;
    margin: auto;
    transition: 0.3s;
}

table:hover{
     background-color: rgba(255, 255, 255, 0.24);
    transform: scale(1.01);
}

 th, td {
    border: 2px solid rgb(59, 50, 50);
    padding: 10px; 
}
 
.najdraza {
    background: linear-gradient(#473000,#f1a33e);
    border: solid rgb(7, 3, 248);
    border-radius: 12px;
}
.zaglavlje { 
    background: linear-gradient(90deg, #4548dd94, #0a1bbb80)
}
.ocjena {
    font-weight: bold;
    color: #ffee00;
    transition: 0.3s;
}

.ocjena:hover {
    background-color: #e74c3c;
    color: white;
    cursor: pointer;
}
